<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="EbillingConConnectionString" connectionString="Data Source=HP-HP\SQLEXPRESS;Initial Catalog=Maxima;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="EbillingConConnectionString" connectionString="Data Source=localhost;Initial Catalog=gnitin_Vishwakrupa;Persist Security Info=True;User ID=esankalp_Dharvik;Password=eSankalp@123"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<add name="eSankalpConnectionString" connectionString="Data Source=localhost;Initial Catalog=tarise;Persist Security Info=True;User ID=tarise;Password=6^4pTb1t"
      providerName="System.Data.SqlClient" />-->
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Default.aspx">
      <error statusCode="403" redirect="Default.aspx" />
      <error statusCode="404" redirect="Default.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey decryptionKey="9179D3E96766D202FF48E48A5B74383671C01127F37EEA50,IsolateApps" validationKey="7929041B181A6EBAAFCFFC4A9C29BC1A6AC7E98F0BB467F98F3DCAF92521B14B6B852B93D8E5BECD34144896365423EAE557198095EDF28A120B0E73279EFF8B,IsolateApps" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>

